-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: spk_hayo_chicken
-- ------------------------------------------------------
-- Server version	8.0.30

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `alternatif`
--

DROP TABLE IF EXISTS `alternatif`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `alternatif` (
  `id_alternatif` varchar(2) NOT NULL,
  `nama_paket` varchar(100) DEFAULT NULL,
  `harga_paket` int DEFAULT NULL,
  PRIMARY KEY (`id_alternatif`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alternatif`
--

LOCK TABLES `alternatif` WRITE;
/*!40000 ALTER TABLE `alternatif` DISABLE KEYS */;
INSERT INTO `alternatif` VALUES ('A1','Ayam Geprek + Nasi + Es Teh',16000),('A2','Chicken Katsu + Nasi + Es Teh',19000),('A3','Chicken Saus + Nasi + Es Teh',16000),('A4','Crispy Chicken Steak + Nasi + Es Teh',19000),('A5','Ayam Lalapan 1/4 + Nasi + Es Teh',19000);
/*!40000 ALTER TABLE `alternatif` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kriteria`
--

DROP TABLE IF EXISTS `kriteria`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kriteria` (
  `id_kriteria` varchar(2) NOT NULL,
  `nama_kriteria` varchar(50) DEFAULT NULL,
  `sifat` enum('Benefit','Cost') DEFAULT NULL,
  `bobot` float DEFAULT NULL,
  PRIMARY KEY (`id_kriteria`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kriteria`
--

LOCK TABLES `kriteria` WRITE;
/*!40000 ALTER TABLE `kriteria` DISABLE KEYS */;
INSERT INTO `kriteria` VALUES ('C1','Margin Keuntungan','Benefit',0.25),('C2','Popularitas/Frekuensi','Benefit',0.2),('C3','Kepuasan Pelanggan','Benefit',0.25),('C4','Penggunaan Stok Bahan','Benefit',0.15),('C5','Harga Jual','Cost',0.15);
/*!40000 ALTER TABLE `kriteria` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kuesioner_pembeli`
--

DROP TABLE IF EXISTS `kuesioner_pembeli`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kuesioner_pembeli` (
  `id_kuesioner` int NOT NULL AUTO_INCREMENT,
  `nama_pembeli` varchar(50) DEFAULT NULL,
  `id_alternatif` varchar(2) DEFAULT NULL,
  `c2_menarik` int DEFAULT NULL,
  `c3_worth_it` int DEFAULT NULL,
  PRIMARY KEY (`id_kuesioner`),
  KEY `id_alternatif` (`id_alternatif`),
  CONSTRAINT `kuesioner_pembeli_ibfk_1` FOREIGN KEY (`id_alternatif`) REFERENCES `alternatif` (`id_alternatif`)
) ENGINE=InnoDB AUTO_INCREMENT=168 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kuesioner_pembeli`
--

LOCK TABLES `kuesioner_pembeli` WRITE;
/*!40000 ALTER TABLE `kuesioner_pembeli` DISABLE KEYS */;
/*!40000 ALTER TABLE `kuesioner_pembeli` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kuesioner_penjual`
--

DROP TABLE IF EXISTS `kuesioner_penjual`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kuesioner_penjual` (
  `id_kuesioner` int NOT NULL AUTO_INCREMENT,
  `nama_internal` varchar(50) DEFAULT NULL,
  `id_alternatif` varchar(2) DEFAULT NULL,
  `c1_untung` int DEFAULT NULL,
  `c2_sering` int DEFAULT NULL,
  `c4_habis` int DEFAULT NULL,
  PRIMARY KEY (`id_kuesioner`),
  KEY `id_alternatif` (`id_alternatif`),
  CONSTRAINT `kuesioner_penjual_ibfk_1` FOREIGN KEY (`id_alternatif`) REFERENCES `alternatif` (`id_alternatif`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kuesioner_penjual`
--

LOCK TABLES `kuesioner_penjual` WRITE;
/*!40000 ALTER TABLE `kuesioner_penjual` DISABLE KEYS */;
INSERT INTO `kuesioner_penjual` VALUES (1,'rahma','A1',4,3,3),(2,'rahma','A2',3,5,4),(3,'rahma','A3',4,3,3),(4,'rahma','A4',3,3,2),(5,'rahma','A5',4,4,5),(6,'Okti Salminah','A1',5,5,5),(7,'Okti Salminah','A2',3,4,3),(8,'Okti Salminah','A3',3,3,3),(9,'Okti Salminah','A4',3,3,3),(10,'Okti Salminah','A5',2,2,2),(11,'lina','A1',4,4,5),(12,'lina','A2',4,5,5),(13,'lina','A3',4,4,3),(14,'lina','A4',4,4,4),(15,'lina','A5',4,3,4);
/*!40000 ALTER TABLE `kuesioner_penjual` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-10 16:06:39
